<style>
.row {
  color: #FFD4AA;
}
.row_insert {
  background-color: #1F8015;
}
.row_delete {
  background-color: #801F15;
}
.diff td {
  padding: 0.25em 1em;
}
</style>


<h2>Diff</h2>

<table class="diff">
  <tr>
    <th>Action</th>
    <th>Id</th>
    <th>Name</th>
    <th>Colour</th>
  </tr>
  <% @rows.each do |row| %>
    <tr class="row row_<%= row.action %>">
      <td><%= row.action %></td>
      <td><%= row.id %></td>
      <td><%= row.name %></td>
      <td><%= row.colour %></td>
    </tr>
  <% end %>
</table>
